/* BASIC STYLES HERE */
body {
    background-size: cover;
}
.buttonStyle1{
    color: bisque;
    text-shadow: 3px 1px 1px black;
    opacity: 70%;
    background-color: rgb(140, 165, 180);
    border-radius: 11%;
    box-shadow: 1px 2px 1px rgb(81, 74, 74);
}
.textStyle{
    color: white;
    text-shadow: 2px 2px 2px rgb(33, 32, 32);
}
.customGlassCard{
    opacity: 40%;
    background-color: black;
    box-shadow: 1px 2px 1px rgb(245, 242, 242);
}